
.App {
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  min-height: 100vh;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


h1 {
  font-size: 2.5rem;
  color: #858080;
  margin-bottom: 20px;
}

 
.date-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  color: #555;
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="date"]:focus {
  border-color: #007bff;
}

 
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: rgb(234, 234, 234);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #868e98;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Mensaje de carga */
.loading {
  font-size: 1.2rem;
  color: #007bff;
  margin-top: 20px;
}